body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.swiper-pagination-bullet-active {
    background-color: #0284c7 !important;
}
.swiper-button-next, .swiper-button-prev {
    color: #0284c7 !important;
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 1.2rem !important;
}
html {
    scroll-behavior: smooth;
}
section {
    scroll-margin-top: 88px;
}
